@model BERG.ViewModels.PatientEditViewModel

@{
    ViewData["Title"] = "Ažuriranje pacijenta";
}


<div class="row">
    <div class="col-md-4" style="margin:auto;">
        <form method="post">
            <h4>Ažuriraj pacijenta</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="PatientID" hidden />
            <div class="form-group">
                <label asp-for="@Model.Firstname">Ime</label>
                <input asp-for="@Model.Firstname" class="form-control" />
                <span asp-validation-for="@Model.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Lastname">Prezime</label>
                <input asp-for="@Model.Lastname" class="form-control" />
                <span asp-validation-for="@Model.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address">Adresa stanovanja</label>
                <input asp-for="@Model.Address" class="form-control" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Birthdate">Datum rođenja</label>
                <input asp-for="@Model.Birthdate" class="form-control" />
                <span asp-validation-for="@Model.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PhoneNumber">Broj telefona</label>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="TitleID" style="width:200px;">Spol: </label>
                <select asp-items="@Model.Genders" asp-for="GenderID" class="form-control"></select>
            </div>
            <button type="submit" class="btn btn-primary" name="submitButton" value="potvrdi">Ažuriraj</button>
            <button type="submit" class="btn btn-danger" name="submitButton" value="ukloni"
                    onclick="return confirm('Da li ste sigurni da želite obrisati pacijenta?')">Ukloni</button>
        </form>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}